<div class="slds-card via-slds-card--active slds-m-bottom--small" data-card="card-{{cardIndex}}" ng-class="{selected:isSelected(cardIndex)}">
    <div class="via-slds-card__header slds-card__header slds-grid slds-grid--vertical-align-center slds-p-around--medium">
        
           <div class="slds-media slds-media--center slds-has-flexi-truncate">
               
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-{{data.sprite}}-{{data.icon}}" title="description of icon when needed">
                     <slds-svg-icon
                        sprite="data.sprite"
                        icon="data.icon"
                        size="'medium'"
                        no-hint="true">
                    </slds-svg-icon> 
                    </span>
            </div>
            

            <div class="slds-media__body slds-truncate">
                <a href="javascript:void(0);" class="slds-text-link--reset" tooltip-placement="bottom" tooltip="{{data.title}}">
                <span class="slds-text-heading--label"><span>{{obj | getter:data.fields[0] | picker:data.fields[0].type}}</span> </span>
                </a>
                <br />
                <span>{{obj | getter:data.fields[1] | picker:data.fields[1].type}}</span> 
            </div>
                        
            </div>
    </div>
    <!-- progressbar -->
            <div class="slds-m-around--small slds-progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50" role="progressbar">
                <span class="slds-progress-bar__value" style="width:{{records.PercentComplete}}%;">
                    <span class="slds-assistive-text">{{records.PercentComplete}}%</span>
                </span>
               <!-- <p class="slds-truncate"> 
                    Percentage of overall assessment complete - {{records.PercentComplete}}%
                </p>   -->    
            </div>
            <!-- end progressbar -->

    <div class="slds-card__body--inner slds-media">
        <div class="slds-media__figure">
        <a href="#"><img src="{{obj.Image}}"></a>

        <div class="slds-grid slds-grid--align-center">
            <a href="#" ng-click="performAction(action)" ng-repeat="action in data.actions | limitTo: (data.limitActionLinksTo?data.limitActionLinksTo:3)" class="slds-col">
            <i ng-if="!action.imageRef" class="icon {{action.vlocityIcon}}"></i>{{action.displayName}}
            <span ng-if="action.imageRef">
            <img ng-src="{{action.imageRef}}" alt="{{action.displayName}}"/>
            </span></a>
        </div>
    	</div>

        <div class="slds-media__body slds-section">
            <div ng-repeat="field in data.fields.slice(2) " ng-show="key != 'attributes'" ng-if="(obj | getter: field)">
            <span class="slds-text-heading--label">{{field.label}}: </span>
            
            <span class="slds-text-body--regular" ng-if="!obj[field.relationshipName]">
                 {{obj | getter: field | picker: field.type}}</span>


        </div>

        
      </div>
    </div>  

 </div>